<% include partials/header  %>
<style>
    body{
        background-image: url("https://www.freevector.com/uploads/vector/preview/12939/FreeVector-Travel-Background.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    }
    .well{
        margin-top:20%;
        background: rgba(00, 00, 0, 0.3);
        color:white;
        border:none;
    }
</style>
    <div class="container">
        <div class="well well-lg">
        <div class="container text-justify">
            <h1 class="text-center"> About Us</h1>
            <p id="about">
                We operate as an online marketplace bringing both the travellers, and trusted local & expert travel specialist on a common platform. We match travellers with multiple leading travel specialists who are best qualified to make the dream vacation happen. We manage the entire process, maintain quality checks and ensure that the traveller gets the best deal in return. Each travel specialist partner is personally and meticulously verified by us.
                The USP of TravelPlanner undoubtedly, is its personalized approach, intelligent product and reliable fulfilment.​ ​With a team of 300+ people, an amazing product and a network of 650+ expert agents across the globe, we have served 10 lakh travellers till date and reach out to 65+ destinations & the happiness quotient is reflected in the 95% positive customer reviews.
            </p>
        </div>    
    </div>    
    </div>
    



<% include partials/footer %>