body{
	background-color: #2E4372;
	margin:0;
	color:white;
}

nav{
	margin-bottom: 0;
}

.flex{
	display: flex; 
	flex-wrap: wrap;
}
i{
	margin:5px;
}
#about{
	width:90%;
}
.thumbnail{
    padding:0;
    border-radius:10px;
}
form{
	color:black;
}
img{
    width:100%;
    border-radius:10px;
}