<% include ../partials/header %>
	<link rel="stylesheet" type="text/css" href="/newTrip.css">

    <div class="row">
        <div class="container" id="form1">
            <h1>Add a New trip</h1>
            <form action="/trips" method="POST">
                <div class="input-group form-group">
                    <label for="place" id ="sizing-addon1" class="input-group-addon">Place</label>
                    <input type="text" class="form-control" name="place" placeholder="Enter place" aria-describedby="sizing-addon1">    
                </div>
                <div class="input-group form-group">
                    <span for="image" id="img-addon" class="input-group-addon">Image</span>
                    <input type="text" name="image" class="form-control" placeholder="Enter image URL" aria-describedby="img-addon">    
                </div>
                <div class="input-group form-group">
                    <span for="desc" id="desc-addon" class="input-group-addon">Descritption</span>
                    <input type="text" name="desc" class="form-control" placeholder="Enter description" aria-describedby="desc-addon">    
                </div>
                <div class="input-group form-group">
                    <label for="cost" id="cost-addon" class="input-group-addon">Cost</label>
                    <input type="number" class="form-control" name="cost" aria-describedby="cost-addon">
                </div>
                <div class="input-group form-group">
                    <input type="submit" class="btn btn-primary btn-block" name="submit">
                </div>
            </form> 
            <a href="/trips">Go Back</a>
        </div>
    
    
</div>
<% include ../partials/footer %>