<% include ../partials/header %>
	<div class="container">
	    <h1 class="page-header">Welcome To Travel Planner!</h1>
			<p>
		      	We plan the most fun Weekend Getaways for Delhites
			</p>
			<p>
			    <a href="/trips/new" class="btn btn-primary">Add New Trips</a>
			</p>
        
         <div class="row" class="flex">
        <% trips.forEach(function(trip){  %>
           <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=trip.img%>"></img>        
                    <div class="caption text-center"> <%=trip.place %></div>
                    <a href="/trips/<%=trip._id%>" class="btn btn-primary">More Info</a>
                </div>
           </div>
    


        <% }); %>
    </div>
			
	
	</div>	
	
<% include ../partials/footer %>